.tree-table-view {
	-fx-fixed-cell-size: 24px;
}

.tree-table-view .tree-icon-pane {
	-fx-min-width: 16px;
    -fx-min-height: 16px;
}

.tree-table-view .tree-icon-unspecified {
	-fx-fill: transparent;
	-fx-stroke: -fx-text-base-color;
	-fx-stroke-width: 2.0;
}

.tree-table-view .tree-icon-referencetype, .tree-table-view .tree-icon-objecttype {
	-fx-fill: gray;
}

.tree-table-view .tree-icon-object {
	-fx-fill: darkgray;
}

.tree-table-view .tree-icon-variable {
	-fx-fill: green;
}

.tree-table-view .tree-icon-method {
	-fx-fill: red;
}


.tree-table-view .tree-icon-property {
	-fx-fill: #4C4CFF;
}

.tree-table-view .tree-icon-folder {
	-fx-stroke: -fx-text-base-color;
	-fx-stroke-width: 2.0;
	-fx-fill: gray;
}

.tree-table-view .tree-icon-baseobject {
	-fx-stroke: -fx-text-base-color;
	-fx-stroke-width: 2.0;
	-fx-fill: darkgray;
}

.tree-table-view .tree-icon-analogitem {
	-fx-fill: darkgreen;
}